.custom-modal {
  border: none !important;
  .MuiTypography-h3 {
    font-size: 20px;
  }
}

.swtich-temp-description {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
}
.css-2wkfg8.MuiInputLabel-root {
  overflow: hidden;
}
