#panelwrapper {
  display: flex;
  height: max-content;
}

#panel-notepad {
  min-height: 100vh;
  max-height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  padding: 25;
}

#panel-questions-list {
  flex-grow: 1;
  flex-shrink: 100;
}
