#root {
  $fullscreen-margin-left-inputbox: 0px;
  $fullscreen-min-width-inputbox: 100%;
}
.chat-bot-ui-fullscreen {
  width: 95vw !important;
  height: 88vh !important;
}

.chat-bot-ui-container {
  position: sticky;
  right: 0;
  bottom: 18px;
  margin-right: 24px;
  margin-bottom: 24px;
  z-index: 99999999;
  .chat-bot-ui {
    right: 0;
    bottom: 24px;
    border-bottom-right-radius: 0;
    background: linear-gradient(180deg, #51006d 0%, #ad0062 100%);
    position: absolute;
    width: 550px;
    height: 600px;
    border-radius: 16px;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .chat-bot-header {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
    .chat-bot-bubbles-container-fullscreen {
      margin-left: 17vw;
      margin-right: 17vw;
    }
    .chat-bot-bubbles-container {
      flex-grow: 1;
      padding: 24px;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      & > div {
        margin-bottom: 24px;
      }
      .chat-bubble-actions-reverse {
        flex-direction: row-reverse !important;
      }
      .chat-bubble-actions {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        color: white;
        gap: 5px;
        justify-content: baseline;
        margin-top: 5px;
        font-size: 16px;
        .copy-icon {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
        .copied {
          color: gray;
        }
      }
    }
    .chat-bot-footer-container {
      display: flex;
      flex-direction: column;
      background: transparent;
      border-radius: 0 0 0 16px;
      .chat-bot-footer {
        background: transparent;
        display: flex;
        flex-direction: column;
        margin-left: var(--fullscreen-margin-left-inputbox);
        min-width: var(--fullscreen-min-width-inputbox);
        & > div > div > div {
          box-sizing: content-box;
        }
      }
      .chat-bot-info {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 8px;
        color: white;
        align-self: center;
        justify-self: baseline;
        font-size: 14px;
        top: -15px;
        .chat-bot-info-link {
          margin-left: 8px;
          margin-right: 8px;
          color: white;
        }
      }
    }
  }
  div:has(#chat-bot) {
    margin-right: 0;
    box-sizing: content-box;
  }
  #chat-bot {
    color: white;
    font-weight: 500;
    height: 40px;
    & > div {
      box-sizing: content-box;
    }
  }
}

.chat-bot-header > div > div:nth-child(1) {
  display: none;
}

.chat-bot-footer
  > div:nth-child(2)
  > div
  > div:nth-child(2)
  > div:nth-child(1) {
  display: none;
}

@media (min-width: 601px) and (max-width: 1280px) {
  #root {
    $fullscreen-margin-left-inputbox: 0px;
    $fullscreen-min-width-inputbox: 100%;
  }
  .chat-bot-ui-fullscreen {
    width: 95vw !important;
    height: 85vh !important;
  }

  .chat-bot-ui-container {
    position: sticky;
    right: 0;
    bottom: 10px;
    margin-right: 24px;
    margin-bottom: 0px;

    .chat-bot-ui {
      width: 36vw;
      height: 85vh;
      .chat-bot-bubbles-container-fullscreen {
        margin-left: 12vw;
        margin-right: 12vw;
      }
      .chat-bot-bubbles-container {
        font-size: 12px;
      }
      .chat-bot-bubbles-container > div > div:nth-child() > div {
        gap: 10px !important;
        padding: 2px 0px 12px 0px !important;
      }
      .chat-bot-bubbles-container > div > div:nth-child(1) > span {
        font-size: 12px;
      }
      .chat-bot-bubbles-container > div > div:nth-child(1) > div > button {
        font-size: 12px;
      }
    }
  }
  .chat-bot-footer-fullscreen {
    margin-left: 12vw !important;
    max-width: 70vw !important;
    & > div > div > div {
      box-sizing: content-box;
    }
  }
  .chat-bot-footer {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .chat-bot-info {
    top: -5px !important;
  }
  .chat-bot-footer > div:nth-child(2) > div > div > div > textarea {
    height: 24px !important;
    font-size: 12px;
  }
  .chat-bot-footer > div:nth-child(2) > div > div > div:nth-child(2) {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
  .chat-bot-info > span {
    font-size: 12px;
  }
  .chat-bubble-actions > span {
    font-size: 12px;
  }
  .chat-bubble-actions > div > svg {
    width: 12px !important;
    height: 12px !important;
  }
  .chat-bot-bubbles-container > div:nth-child(1) {
    padding: 5px;
  }
  .chat-bot-header > button > svg {
    width: 15px !important;
    height: 15px !important;
  }
  .chat-bot-header > div > p {
    font-size: 15px !important;
    padding-top: 10px;
  }
  .chat-bot-header {
    padding: 2px !important;
  }
}
