.primary-button {
  height: 40px;
  width: 100%;
  background-color: $blue;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  outline: none;

  &:hover {
    background-color: $darkerBlue;
  }
}

.secondary-button {
  height: 32px;
  padding: 0 10px;
  background-color: $white;
  color: $neptune-primary;
  cursor: pointer;
  border: $border;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  outline: none;
  font-family: $proximaNovaRegular;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $neptune-hover;
    border: 1px solid $neptune-primary;
  }
}

.secundary-button {
  height: 40px;
  width: 100%;
  color: $neutral8;
  cursor: pointer;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: $neutral2;
  font-family: $proximaNovaRegular;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  outline: none;

  &:hover {
    background-color: $neutral4;
  }
}

.link-button {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  color: $blue;
  cursor: pointer;
  text-align: left;
  border: none;
  background-color: Transparent;
  outline: none;

  &:hover {
    color: $blue;
    text-decoration: underline;
    text-decoration-color: $blue;
  }

  &:focus {
    color: $blue;
    outline: 1px solid $blue;
    text-decoration: underline;
  }
}

.close-button {
  height: 40px;
  width: 81px;
  color: $neutral8;
  cursor: pointer;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: $neutral2;
  font-family: $proximaNovaRegular;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  outline: none;

  &:hover {
    background-color: $neutral4;
  }
}

.okay-button {
  height: 40px;
  width: 81px;
  background-color: $blue;
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: $proximaNovaRegular;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  outline: none;

  &:hover {
    background-color: $darkerBlue;
  }
}
.saverole-button:disabled,
.saverole-button[disabled] {
  opacity: 0.5;
}

.saverole-button {
  height: 40px;
  float: right;
  max-width: 130px;
  background-color: $blue;
  color: $white;
  cursor: pointer;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: $proximaNovaRegular;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  outline: none;

  &:hover {
    background-color: $darkerBlue;
  }
}

@media (max-width: $loginResponsiveWidth) {
  .link-button {
    text-align: center;
  }
}
