.checkbox {
  align-items: center;
  height: 24px;
  color: $neutral8;
  font-family: $proximaNova;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  cursor: pointer;
  outline: none;

  input[type='checkbox'] {
    margin-right: 8px;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    background-color: #297dfd !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16),
      0 4px 8px 0 rgba(41, 125, 253, 0.08);
    cursor: pointer;
    outline: none;
  }
}
