.chipview {
    display : flex;
    justify-content: flex-start;
}

// @media (min-width: 960px) {
//     .chipView {
//         justify-content: flex-end;
//         margin-right: 16px;
//         width: 110px;
//     }
// }

.chipview > p {
    word-break: unset !important;
    overflow: hidden;
    height: 1%;
    text-align: center;
    min-width: 50px;
    max-width: 150px;
}