.composed-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: $white;

  &.match-icon {
    background: $success;
    border-radius: 50%;
  }

  &.no-match-icon {
    border-radius: 3px;
    background: $warning;
    transform: rotate(45deg);

    svg {
      transform: rotate(-45deg);
    }
  }

  &.null-icon {
    border-radius: 50%;
    background: $neutral6;
  }
}
