.custom-rich-text {
  border: 1px solid #d9d9d9;
  padding: 0.25rem;
  position: relative;
  box-sizing: content-box;
  border-radius: 0.25rem;
  transition-duration: 0.2s;
  transition-property: border-color;
  transition-timing-function: linear;
  transition-delay: 0.5s;

  &.readonly {
    display: block;
    padding-top: 19px;
  }
  &.popover {
    display: block;

    &:hover {
      border-color: #0768fd;
    }

    [class*='RichEditor-editor'] {
      padding: 0;
      border: none;
      font-family: $proximaNova;

      [class*='DraftEditor-root'] {
        border: none;
        line-height: inherit;
        resize: none;
        // overflow: visible;
        // height: auto !important;

        [class*='DraftEditor-editorContainer'] {
          padding: 0;
          // height: auto;

          & > div {
            padding-top: 0;
          }
        }
      }
    }
  }
}
