#dashboard-filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  background-color: #f6f7fb;
  padding: 12px 24px;
  margin-bottom: 20;

  .filter-wrapper {
    margin-right: 10px;
    padding: 0 10px;
    margin-bottom: 10px;
  }
}
