.dd-title {
  height: 24px;
  width: 100%;
  color: $neutral8;
  font-family: $proximaNova;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 4px;
}

.resetButton {
  border: none;
  cursor: pointer;
  background: none;
  padding-left: 4px;
  outline: none;
}

.dd-input-wrapper {
  display: flex;
  width: 100%;
}

.dd-wrapper {
  position: relative;
  width: 100%;
  flex: 1;
  min-width: 0;

  .dd-list {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: 0px;
    bottom: 0px;
    transform: translateY(100%);
    max-height: 200px;
    overflow-y: scroll;
    width: 100%;
    background-color: $white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: $proximaNova;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    cursor: pointer;
    scrollbar-width: none;

    .dd-list-item {
      padding: 8px 16px;
      border-bottom: 1px solid $neutral3;

      &:hover {
        background-color: $neptune-hover;
      }
    }
  }

  .dd-header-error {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 40px;
    max-height: max-content;
    background-color: $white;
    border-radius: 5px;
    border: 2px solid #e20000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    position: relative;
    padding: 8px;
    padding-right: 20px;
  }

  .dd-header {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 40px;
    max-height: max-content;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $neutral4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    position: relative;
    padding: 8px;
    padding-right: 20px;

    &.dd-header-disabled {
      background-color: #f2f2f2;
      cursor: not-allowed;

      &:before {
        border-color: #b5b5b5 transparent transparent transparent;
      }
    }

    .dd-header-placeholder {
      height: 24px;
      width: 100%;
      color: $neutral6;
      font-family: $proximaNova;
      pointer-events: none;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
    }

    .dd-header-selected {
      width: 100%;
      color: $black;
      font-family: $proximaNova;
      font-size: 16px;
      pointer-events: none;
    }

    &:before {
      content: '';
      position: absolute;
      border: 6px solid;
      border-color: $neutral8 transparent transparent transparent;
      right: 6px;
      top: 60%;
      transform: translateY(-50%);
    }
  }
}
