.unity-footer {
  height: 0px !important;

  & > div {
    & > div {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      & > a {
        margin-left: 70px;
      }
    }
    & > p {
      margin-right: 50px;
    }
  }

  span.MuiButton-label {
    color: #646464;
    font-weight: 800;
    font-family: 'ProximaNova-Regular';
  }

  button {
    padding: 0 5px !important;

    &.ques-temp-info {
      pointer-events: none;
      margin-left: 0 !important;
    }
    &.switch-temp-btn {
      span.MuiButton-label {
        color: $neptune-primary;
      }
    }
  }
}

.MuiButton-textPrimary:hover {
  background-color: none;
}

[href="https://www.iqvia.com/"] {
  pointer-events: none;
}
