div#unityfooter{
    height: 0px !important;
}

#unityfooter>div>div{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#unityfooter>div>div>a{
    margin-left: 70px;
}

#unityfooter>div>p{
    margin-right: 50px;
}

.MuiButton-textPrimary:hover {
    background-color: none
}

#unityfooter span.MuiButton-label{
    color: #646464;
    font-weight: 800;
    font-family: 'ProximaNova-Regular';
}
[href="https://www.iqvia.com/"]{
    pointer-events: none;
}

#unityfooter button {
    pointer-events: none;
}