.unity-footer {
  height: 0px !important;
  max-width: none !important;
  border-top: 1px solid $neutral4;

  & > div {
    max-width: none !important;
    & > div {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      max-width: none !important;
      & > div {
        margin-top: 0;
        max-width: none !important;
        & > div {
          max-width: none !important;
        }
      }
    }
  }

  .unity-footer {
    max-width: none !important;
  }

  span.MuiButton-label {
    color: #646464;
    font-weight: 800;
    font-family: $proximaNova;
  }

  button {
    padding: 0 5px !important;

    &.red-btn {
      opacity: 1 !important;
      min-width: auto;
      svg {
        margin: -3px 0 0 0;
        width: 1.3rem;
        height: 1.3rem;
      }
      span {
        color: #e20000 !important;
      }
    }

    &.ques-temp-info {
      pointer-events: none;
      margin-left: 0 !important;

      color: #646464;
      font-weight: 800;
      font-family: 'ProximaNova-Regular';
    }
    &.switch-temp-btn {
      span.MuiButton-label {
        color: $neptune-primary;
      }
    }
  }

  [href="https://www.iqvia.com/"] {
    pointer-events: none;
  }

  .MuiButton-textPrimary:hover {
    background-color: none;
  }
}

.display-none {
  display: none !important;
}

button.no-animation {
  &:hover {
    background-color: transparent !important;
    opacity: 0.8;
  }
  [class*='MuiTouchRipple-root'] {
    display: none !important;
  }
}
