.grid-view {
  display: grid;
  align-items: center;
  grid-gap: 100px;
  grid-row-gap: 20px;
  padding: 20px 0 40px 0;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center;

  &.is-centered {
    justify-items: center;
  }
}
@media (max-width: 1400px) and (max-height: 175vh) {
  .grid-view {
    grid-template-columns: repeat(auto-fit, minmax(338px, 1fr));
  }
}

@media (max-width: 920px) {
  .grid-view {
    grid-template-columns: repeat(auto-fit, minmax(371px, 1fr)) !important;
    display: grid;
    margin: 0 auto;
    gap: 116px;
  }
}

@media (max-width: 968px) {
  .grid-view {
    grid-template-columns: repeat(auto-fit, minmax(371px, 1fr)) !important;
    display: grid;
    margin: 0 auto;
    gap: 116px;
  }
}

@media (min-width: 1400px) {
  .grid-view {
    grid-template-columns: repeat(auto-fit, minmax(373px, 1fr));
  }
}

.no-info {
  font-family: $proximaNova;
  margin: 20px auto;
  text-align: center;
  font-size: 20;
}
.MuiGrid-root.rolegroup {
  margin: 5px -8px;
  border-bottom: 1.5px solid #e4dddd;
}

.MuiGrid-root.milestoneGroup {
  margin: 5px -8px;
  border-bottom: 1.5px solid #e4dddd;
}

.MuiGrid-root.answerGroup {
  border-bottom: 1.5px solid #e4dddd;
  margin: 5px -8px;
}

.MuiGrid-root.verificationGroup {
  border-bottom: 1.5px solid #e4dddd;
  margin: 5px -8px;
}
