.pagination {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(8, 25px);
  align-items: center;
  column-gap: 10px;

  &__arrow {
    border: $border;
    border-radius: 10%;
    background-color: $neutral1;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__page {
    font-family: $proximaNovaRegular;
    font-size: 14px;
    color: $neutral7;
    width: 25px;
    height: 22px;
    text-align: center;
    border: none;
    background-color: transparent;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    background-color: $neptune-secondary;
    color: $white;
    border-radius: 4px;
  }

  &__svg {
    fill: $neutral7;
  }

  .arrow__left {
    grid-column: 1 / 2;
  }
  .more__left {
    grid-column: 2 / 3;
  }
  .more__right {
    grid-column: -3 / -2;
  }
  .arrow__right {
    grid-column: -2 / -1;
  }
}
