.price-modeler {
  position: relative;
  letter-spacing: 0.038rem;

  &.task-wrapper {
    display: block;
    border:none;
    padding: 0.5rem 1rem;
  }
  &__loader > div {
    z-index: 999;
  }
  &__title {
    font-size: 1rem;
  }
  &__price {
    color: $purple;
    font-size: 1.4375rem;
    font-weight: 600;
    display: flex;
    margin: 0.3125rem 0 1rem;

    @media screen and (max-width: 1250px) {
      font-size: 1.375rem;
    }
  }
  &__info {
    display: flex;
    margin-left: 0.75rem;

    button {
      width: auto;
      height: auto;
      padding: 0;

      svg {
        font-size: 1.375rem;
      }
    }
  }
  &__details {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.7fr);
    grid-gap: 0.875rem 1rem;
    font-size: 0.875rem;
    line-height: 1.375rem;

    @media screen and (max-width: 1090px) {
      max-width: 28.75rem;
    }

    &-item {
      h3 {
        color: $neutral9;
        font-weight: 100;
        font-size: inherit;
      }
      i {
        font-weight: 600;
        color: $neutral8;
      }
    }
  }
}
