.card {
  display: grid;
  width: 480px;
  grid-template-rows: 80px auto 81px auto;
  box-sizing: border-box;
  border: $border;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04), 0 16px 24px 0 rgba(0, 0, 0, 0.08);

  .header-section {
    display: grid;
    grid-template-columns: auto 0.5fr;
    border-bottom: $border;
    padding: 7px 0px;

    div:first-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      padding: 0 25px;

      p {
        font-family: $proximaNovaRegular;

        &:first-child {
          color: $black;
          font-size: 20px;
          font-weight: 600;
        }

        &:last-child {
          color: $neutral8;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .favourite-container {
      display: flex;
      justify-content: flex-end;
      padding-right: 1rem;
      align-items: center;
    }
  }

  .info-section {
    padding: 20px 0;
    border-bottom: $border;

    .section-data {
      display: flex;
      justify-content: space-between;
      padding: 5px 30px;

      span {
        font-family: $proximaNovaRegular;
        font-size: 14px;
        color: #626262;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 50%;

        &:nth-of-type(2) {
          color: #848484;
          width: 200px;
        }
      }
    }
  }

  .buttons-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f8f9fb;

    .button {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        outline: none;
      }

      p {
        color: #646464;
        font-family: $proximaNovaRegular;
        font-size: 13px;
      }
    }

    div:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-family: $proximaNovaRegular;

        &:first-child {
          color: $pink;
          font-size: 33.5px;
          font-weight: 600;
        }
      }
    }
  }

  .link-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fb;
    border-top: $border;

    .link {
      display: flex;
      justify-content: center;

      a {
        color: #4986ff;
        font-family: $proximaNovaRegular;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        outline: none;
      }

      .right-arrow {
        margin-top: -1px;
      }
    }
  }

  .no-data-placeholder {
    color: rgba($color: #848484, $alpha: 0.7) !important;
  }
}
