.card {
  display: grid;
  width: 420px;
  grid-template-rows: 80px auto 81px 41px;
  box-sizing: border-box;
  border: $border;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04), 0 16px 24px 0 rgba(0, 0, 0, 0.08);

  .header-section {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    border-bottom: $border;

    div:first-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 25px;

      p {
        font-family: $proximaNova;

        &:first-child {
          color: $black;
          font-size: 20px;
          font-weight: 600;
        }

        &:last-child {
          color: $neutral8;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    div:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-family: $proximaNova;

        &:first-child {
          color: $pink;
          font-size: 48px;
          font-weight: 600;
        }

        &:last-child {
          color: $neutral7;
          margin-top: -5px;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }

  .info-section {
    padding: 20px 0;
    border-bottom: $border;

    .section-data {
      display: flex;
      justify-content: space-between;
      padding: 5px 30px;

      span {
        font-family: $proximaNova;
        font-size: 14px;
        color: #626262;
        text-overflow: ellipsis;

        &:nth-of-type(2) {
          color: #848484;
        }
      }
    }
  }

  .buttons-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;

    .button {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        outline: none;
      }

      p {
        color: #646464;
        font-family: $proximaNova;
        font-size: 13px;
      }
    }
  }

  .link-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fb;
    border-top: $border;

    .link {
      display: flex;
      justify-content: center;

      a {
        color: #4986ff;
        font-family: $proximaNova;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        outline: none;
      }

      .right-arrow {
        margin-top: -1px;
      }
    }
  }
}
