.switch-view {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    background-color: $white;
    border: none;
    outline: none;
    cursor: pointer;

    svg {
      g {
        fill: $neutral6;
      }
      
      &.is-active {  
        g {
          fill: $neptune-secondary;
        }
      }
    }

    &:nth-child(1) {
      margin-right: 10px;
    }
  }
}
