.tab-wrapper {
  .tabs-items {
    border-bottom: 1px solid $neutral4;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .tabs {
      list-style: none;
      padding: 0;
      margin-bottom: 0;

      li {
        font-family: $proximaNova;
        font-size: 16px;
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        font-weight: 500;
        color: $neutral7;
        position: relative;

        &.selected {
          &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 3px;
            background-color: $neptune-primary;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba($color: $neptune-primary, $alpha: 0.3);
          }
        }
      }
    }

    .tab-filters {
      display: flex;
      padding: 10px;
    }
  }

  .tab-content-wrapper {
    width: 100%;
    padding: 10px 0;
  }

  .filter-toggle {
    margin-left: 10px;
  }

  .filter-icon {
    fill: $neptune-primary;
    margin-right: 5px;
  }
}
