.tab-buttons {
  display: grid;
  border: $border;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba($color: $black, $alpha: 0.04);
  align-content: center;
  overflow: hidden;
  margin: 15px 0;

  .button {
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    border-right: $border;
    cursor: pointer;
    font-family: $proximaNova;
    font-size: 16px;
    font-weight: 500;
    background-color: $neutral1;
    color: $neutral6;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .notification {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      transform: translate(10%, -40%);
      background-color: $pink;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      pointer-events: none;
      font-size: 10px;
      color: $white;
    }

    &.is-active {
      background-color: $neptune-secondary;
      color: $white;
      font-weight: 600;
    }

    &:last-child {
      border-right: none;
    }
  }
}
