#table-question-answer {
  height: 38px;
}
.table-answer {
  height: 38px;
  border: 1px solid #d9d9d9;
  border-radius: 0.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &.disabled {
    cursor: not-allowed;
  }
  &:hover:not(.disabled) {
    border: 1px solid #40a9ff;
    cursor: pointer;
  }
  .table-icon {
    margin-left: 0.5rem;
    color: #595959;
  }
  .label {
    margin-left: 0.5rem;
    color: #999999;
  }
  &.answered:not(.disabled) {
    .table-icon {
      color: #0768fd;
    }
    .label {
      color: #0768fd;
    }
  }
}

.answer-history-table-card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 8px;
  .header {
    p {
      margin-bottom: 8px;
    }
  }
  .table-change-item {
    margin-top: 16px;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    .meta-info {
      color: #df216d;
    }
    .changeset-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .changeset {
        .table-change-list-item {
          display: inline-block;
          width: 100%;
          .removed {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
