#table-question-answer {
  gap: 6px;
}
.table-answer-container {
  width: 100%;
  .table-answer {
    height: 38px;
    border: 1px solid #d9d9d9;
    border-radius: 0.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:hover {
      border: 1px solid #40a9ff;
      cursor: pointer;
    }
    .table-icon {
      margin-left: 0.5rem;
      color: #0768fd;
    }
    .label {
      margin-left: 0.5rem;
      color: #0768fd;
      text-decoration: underline;
    }
    &.answered {
      .table-icon {
        color: #0768fd;
      }
      .label {
        color: #0768fd;
        text-decoration: underline;
      }
    }
  }
}
.custom-answer-table-container {
  overflow-x: auto;
  max-height: 250px;
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  .custom-answer-table {
    border: 1px solid black;
    //table-layout: fixed;
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      border: 1px solid black;
      width: 100px;
      text-align: left;
      font-family: Proxima Nova;
      font-size: 13px;
      font-style: normal;
      padding: 8px;
      border: 1px solid #ddd;
    }
    td:first-child {
      font-weight: 600;
      line-height: 16px;
    }

    th {
      background-color: #f6f7fb;
      align-items: center;
      font-weight: 600;
      line-height: 16px;
    }
    td {
      background-color: #ffffff;
      align-items: center;
    }
  }
}

.custom-answer-table-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-answer-table-container::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 5px;
}

.custom-answer-table-container::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.custom-answer-table-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.custom-answer-table-container::-webkit-scrollbar-button {
  display: none;
}
.custom-answer-table th {
  position: sticky;
  top: 0;
  z-index: 1;
}
.blankRow {
  text-align: center !important;
}

.answer-history-table-card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 8px;
  .header {
    p {
      margin-bottom: 8px;
    }
  }
  .table-change-item {
    margin-top: 16px;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    .meta-info {
      color: #df216d;
    }
    .changeset-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .changeset {
        .table-change-list-item {
          display: inline-block;
          width: 100%;
          .removed {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
