.table-view-outer-container {
  max-width: 100%;
  overflow-x: auto;
  padding: 0 10px;
}

.table-view-container {
  display: grid;
}

#table-view .headers,
#table-view .row {
  display: flex;
  flex-wrap: wrap;
}

#table-view .row .cell {
  flex: 1;

  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#table-view .headers h3 {
  flex: 1;

  color: rgba($color: $neutral7, $alpha: 0.8);
  font-size: 14px;
  text-transform: capitalize;
}

#table-view .row .cell p {
  display: inline;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#table-view .row .cell a {
  color: $neptune-primary;
  text-decoration: none;
  cursor: pointer;
}

#table-view .row .cell a:hover {
  text-decoration: underline;
}

/* Responsive Grid */
@media screen and (min-width: 769px) {
  #table-view .headers,
  #table-view .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
  }

  #table-view .row .cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    overflow: visible;
    white-space: normal;
    text-overflow: unset;
  }
}
