#table-question-answer {
  gap: 6px;
}
.table-answer-container {
  width: 100%;
  .table-answer {
    height: 38px;
    border: 1px solid #d9d9d9;
    border-radius: 0.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:hover {
      border: 1px solid #40a9ff;
      cursor: pointer;
    }
    .table-icon {
      margin-left: 0.5rem;
      color: #595959;
    }
    .label {
      margin-left: 0.5rem;
      color: #999999;
    }
    &.answered {
      .table-icon {
        color: #0768fd;
      }
      .label {
        color: #0768fd;
      }
    }
  }
}

.custom-answer-table {
  width: 800px;
  margin: 0 auto;
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  color: #333333;
  border-width: 1px;
  border-color: #4b6c96;
  border-collapse: collapse;
  &:hover {
    border: 1px solid #40a9ff;
    cursor: pointer;
  }

  td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
  }
  th {
    white-space: nowrap;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
  }
}
