.text-area-title {
  height: 24px;
  width: 100%;
  color: $neutral8;
  font-family: $proximaNova;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 4px;
}

.text-area-wrapper {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  border: $border;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
  outline: none;
  font-family: $proximaNova;
  font-size: 16px;
  padding: 8px;
  resize: none;
  overflow: hidden;
}

.text-number-wrapper {
  box-sizing: border-box;
  width: 100%;
  border: $border;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
  outline: none;
  font-family: $proximaNova;
  padding: 8px;
  resize: none;
  font-size: 16;
}

.numberError {
  border: 1px solid $error;
}

.number-error-text {
  color: $error;
  font-size: 12px;
}

.modal-text-area {
  box-sizing: border-box;
  height: 94px;
  width: 100%;
  border: $border;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
  outline: none;
  font-family: $proximaNova;
  padding: 8px;
  resize: none;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.modal-options-text-area {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  border: $border;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
  outline: none;
  font-family: $proximaNova;
  padding: 8px;
  resize: none;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.proposal-text-area {
  resize: vertical;
  min-height: 40px !important;
  height: auto;
  overflow: auto !important;
  padding: 6px !important;
  line-height: 26px !important;
  width: 100%;
  margin-top: 0 !important;
  font-family: $proximaNova;
  font-size: 16px;
  min-width: auto;
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  &:hover,
  &:focus-within,
  &:focus-visible {
    border-color: #0768fd;
    transition-duration: 0.2s;
    transition-property: border-color;
    outline: none !important;
  }

  &:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;

    &::placeholder {
      color: #999999;
    }
  }

  .MuiInputBase-formControl {
    margin-top: 0 !important;
  }
  textarea {
    resize: vertical !important;
    min-height: 40px !important;
    height: auto;
    overflow: auto !important;
    padding: 6px !important;
    line-height: 26px !important;
  }
}
.align-lookup {
  padding: 0px !important;
  resize: none;
  overflow: hidden !important;
}
.hasDifferentSFanswer {
  textarea,
  input,
  .dd-header,
  .multiselect-header,
  // .a-MuiAutocomplete-root {
  //   border: 2px solid #e20000 !important;
  // }
  .a-MuiAutocomplete-root {
    input {
      border: none !important;
    }
  }
  .alert-sf-diff {
    padding-left: 30px;
    font-size: 13px;
    margin-top: 5px;
    ul li:first-child {
      color: #e20000;
      cursor: auto;
    }
    ul li:last-child {
      color: #297dfd;
      list-style: none;
      cursor: pointer;

      a {
        color: #297dfd;
        text-decoration: none;
      }
    }
  }
  textarea {
    padding: 5px !important;
  }
}
