.tooltip-wrapper {
  position: relative;
  display: inline-block;
  align-items: center;

  .child {
    cursor: help;

    &:hover {
      + .tooltip {
        opacity: 1;
      }
    }
  }

  .tooltip {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(110%, -50%);
    border-radius: 5px;
    padding: 10px;
    height: min-content;
    opacity: 0;
    transition: 0.2s display ease-in-out;
    z-index: 0;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
    z-index: 99;
    pointer-events: none;

    .title {
      font-size: 16px;
      font-weight: bolder;
    }

    p {
      font-size: 14px;
      line-height: 24px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      background: inherit;
      left: 0;
      top: 50%;
      transform: translate(-40%, -50%) rotate(45deg);
      z-index: -1;
    }

    &.bottom-position {
      right: 50%;
      top: 0;
      transform: translate(50%, 15%);

      &::before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 4px;
        background: inherit;
        left: 50%;
        top: 0%;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: -1;
      }
    }
  }
}
