.validate-table {
  max-width: 100%;
  height: min-content;

  .table {
    .headers {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
      padding: 15px;
      background-color: $neutral2;

      .header {
        font-size: 14px;
        line-height: 21px;
        color: $neutral7;
        display: inline-flex;
        align-items: center;

        .info-icon {
          fill: $neptune-secondary;
          margin-left: 3px;
          width: 20px;
          height: 20px;
        }

        &:first-of-type {
          color: $black;
        }
      }
    }

    .rows {
      .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        padding: 15px;
      }
    }
  }

  .crm-intake-data {
    h5 {
      margin-top: 10px;
    }
  }

  .legend {
    box-sizing: border-box;
    height: min-content;

    p {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      font-size: 14px;
      font-style: italic;
      font-family: $proximaNovaThin;

      &:first-of-type {
        font-style: initial;
        font-family: $proximaNova;
      }

      .composed-icon {
        margin-right: 15px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: 1500px) {
    max-width: 1500px;
  }
}
