.card-label {
  color: #444444;

  font-family: 'Proxima Nova';

  font-size: 14px;

  letter-spacing: 0;

  line-height: 24px;

  margin-top: 10px;
  cursor: pointer;
}

.recent-card {
  padding: 1em;

  margin: 5em;
  margin-top: 1rem;

  /* overflow: scroll; */
}

.recent-activity-tab {
  height: 370px;

  overflow-y: scroll;
}

.recent-activity-tab::-webkit-scrollbar {
  width: 7px;
}

.recent-activity-tab::-webkit-scrollbar-thumb {
  background: #e1e1e1;

  border-radius: 5px;
}

.recent-search-field {
  margin-left: 5rem;
  width: 400px;
}
