.redux-snackbar-container {
  display: flex !important;
  .MuiPaper-root {
    color: #ffffff;
  }

  @media (min-width: 600px) {
    &.MuiSnackbar-anchorOriginTopRight {
      top: 57px;
      right: 50px;
    }
  }
}
