.add-question-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
  height: 100%;

  @media (min-width: 1200px) {
    &.sidebar-open {
      width: calc(100% - 500px); // offsetting sidebar width
    }
  }
}

.add-question-modal-dialog-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 603px;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%) !important;
  z-index: 99;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid $neutral8;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.16);

  .modal-wrapper-footer {
    display: flex;
    flex-direction: row;

    .modal-footer-content {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .modal-footer-left {
        .delete-button {
          padding-left: 10px;
          padding-right: 10px;
          background-color: #fff;
          border: 1px solid#e3e3e3;
          color: #297dfd;
          font-family: 'ProximaNova-Regular';
          font-size: 16px;
          font-weight: 500;

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }

          .trash-icon {
            position: relative;
            top: 2px;
            color: #297dfd;
          }
        }
      }
      .modal-footer-right {
        display: flex;
      }
    }
  }
}

.add-question-modal-dialog-blur {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 0.66;
  background-size: cover;
}

.modal-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.modal-wrapper-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}

.modal-title {
  height: 32px;
  width: 522px;
  color: $black;
  font-family: $proximaNova;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
}

.modal-subtitle {
  height: 24px;
  width: 190.06px;
  color: $black;
  font-family: $proximaNova;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.modal-segment-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-wrapper-body {
  flex-direction: column;
  margin-bottom: 40px;
}

.modal-segment {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  width: 100%;
  flex-wrap: wrap;

  .disabled-text {
    font-size: 13px;
    letter-spacing: 0;
    line-height: 24px;
  }
}

.modal-wrapper-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-button-cancel {
  margin-right: 8px;
}

.modal-answer-type {
  // width: 352px;
  // margin-right: 17px;
  width: 100%;
}

.close-modal-icon {
  cursor: pointer;
}

.modal-text-area {
  box-sizing: border-box;
  height: 94px;
  width: 100%;
  border: 1px solid $neutral4;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
  outline: none;
  font-family: $proximaNova;
  padding: 8px;
  resize: none;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.modal-options-text-area {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  border: 1px solid $neutral4;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
  outline: none;
  font-family: $proximaNova;
  padding: 8px;
  resize: none;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.modal-loader {
  flex: 1;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-title {
    font-family: $proximaNova;
    margin-top: 50px;
  }
}
