.modal-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.modal-wrapper-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}

.modal-title {
  height: 32px;
  width: 522px;
  color: $black;
  font-family: $proximaNova;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
}

.modal-subtitle {
  height: 24px;
  width: 190.06px;
  color: $black;
  font-family: $proximaNova;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.modal-segment-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-wrapper-body {
  flex-direction: column;
  margin-bottom: 40px;
}

.modal-segment {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  width: 100%;
  flex-wrap: wrap;
}

.modal-wrapper-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-button-cancel {
  margin-right: 8px;
}

.modal-answer-type {
  // width: 352px;
  // margin-right: 17px;
  width: 100%;
}

.close-modal-icon {
  cursor: pointer;
}

.modal-text-area {
  box-sizing: border-box;
  height: 94px;
  width: 100%;
  border: 1px solid $neutral4;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0);
  outline: none;
  font-family: $proximaNova;
  padding: 8px;
  resize: none;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.modal-options-text-area {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  border: 1px solid $neutral4;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0);
  outline: none;
  font-family: $proximaNova;
  padding: 8px;
  resize: none;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.modal-loader {
  flex: 1;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  &-title {
    font-family: $proximaNova;
    margin-top: 50px;
  }
}
