.approvals-tab {
  margin-top: 2px;
  min-height: 300px;
  position: relative;

  .accordion-body {
    position: relative;
    display: block;
    counter-reset: css-counter 0;

    .approval-ques {
      counter-increment: css-counter 1;

      .approval-sec-title {
        &:after {
          content: ' ' counter(css-counter);
        }
      }

      &:first-child {
        .approval-sec-title {
          display: none;
        }
      }
      .approval-sec-title {
        color: $black;
        font-weight: bold;
        padding: 4px 14px 16px;
      }
      hr {
        width: calc(100% - 20px);
        border-color: $neutral4 transparent transparent;
        border-top-width: 2px;
        margin: 26px 10px 16px;
        border-style: solid;
      }
    }
  }

  .MuiBox-root {
    padding: 0 14px;
    margin-top: 32px;

    &:first-child {
      margin-top: 6px;
    }

    label + .MuiInput-formControl {
      margin-top: 0px;
    }
    .ques-title {
      margin-bottom: 5px;
    }

    .loader-cover {
      margin-left: 0px;
      position: relative;
      display: inline-block;
      top: 11px;
    }
  }

  .accordion-title,
  .approval-sec-title {
    letter-spacing: 0.4px;
  }

  .approval-ques {
    &-actions {
      margin-top: 12px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .delete-btn svg {
        font-size: 15px !important;
        margin-top: -2px;
      }
    }
  }
  .checkboxtype {
    .MuiFormControl-fullWidth {
      & > * {
        margin: 0;
      }
    }
    :hover {
      border-color: $neptune-primary;
    }
    .MuiFormControl-marginNormal {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

.filter-icon {
  fill: $neptune-primary;
  margin-right: 5px;
}

.filter-horizontal {
  display: block;
  height: 1px;
  border: 0.6em;
  border-top: 1px solid #ccc;
  margin: 0.6em 0;
  padding: 0;
}
