.approvals-tab {
  margin-top: 2px;
  min-height: 73vh;
  position: relative;

  .a-MuiInputBase-root.Mui-disabled {
    color: #999999 !important;
    cursor: default;
    pointer-events: none;
    opacity: 1;

    .a-MuiOutlinedInput-notchedOutline {
      opacity: 1 !important;
      background-color: #f5f5f5 !important;
      border-color: rgba(0, 0, 0, 0.26) !important;
    }
  }

  .date-picker,
  .checkboxtype {
    .a-MuiInputBase-root.Mui-disabled {
      .a-MuiInputBase-input {
        border-color: rgba(0, 0, 0, 0.26) !important;
      }
    }
  }

  .filter-container {
    .filter-btn {
      display: flex;
      justify-content: end;
      padding-bottom: 12px;
      button {
        font-size: 14px;
        padding: 0 8px;
        border-radius: 3px;
        box-shadow: none;

        svg {
          font-size: 16.8px;
          width: auto;
          height: 20px;
        }
      }
    }
  }

  .accordion-body {
    position: relative;
    display: block;
    counter-reset: css-counter 0;

    .approval-ques {
      counter-increment: css-counter 1;

      .approval-sec-title {
        &:after {
          content: ' ' counter(css-counter);
        }
      }

      &:first-child {
        .approval-sec-title {
          display: none;
        }
      }
      .approval-sec-title {
        color: $black;
        font-weight: bold;
        padding: 4px 14px 16px;
      }
      hr {
        width: calc(100% - 20px);
        border-color: $neutral4 transparent transparent;
        border-top-width: 2px;
        margin: 26px 10px 16px;
        border-style: solid;
      }
    }
  }

  .MuiBox-root {
    padding: 0 14px;
    margin-top: 32px;

    &:first-child {
      margin-top: 6px;
    }

    label + .MuiInput-formControl {
      margin-top: 0px;
    }
    .ques-title {
      margin-bottom: 5px;
    }

    .loader-cover {
      margin-left: 0px;
      position: relative;
      display: inline-block;
      top: 11px;
    }
  }

  .accordion-title,
  .approval-sec-title {
    letter-spacing: 0.4px;
  }

  .approval-ques {
    &-actions {
      margin-top: 12px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .delete-btn svg {
        font-size: 15px !important;
        margin-top: -2px;
      }
    }
  }
  .checkboxtype {
    .MuiFormControl-fullWidth {
      & > * {
        margin: 0;
      }
    }
    :hover {
      border-color: $neptune-primary;
    }
    .MuiFormControl-marginNormal {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

.filter-icon {
  fill: $neptune-primary;
  margin-right: 5px;
}

.filter-horizontal {
  display: block;
  height: 0.8px;
  border: 0.6em;
  border-top: 1px solid #ccc;
  margin: 0.6em -0.5em 0.6em -0.5em;
  padding: 0;
}

.approval-text-question {
  .DraftEditor-editorContainer {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    line-height: 8px !important;
  }
}
.no-approval-wrapper {
  display: flex;
  justify-content: center;
  height: 60vh;
}
