.login-wrapper {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  height: 100%;
  position: relative;

  // & > * {
  //   box-sizing: border-box;
  // }
  
  .image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .gradient-background-img {
      position: absolute;
      height: 100%;
      width: 100%;
      background: radial-gradient(circle, #0076ae 0%, #250056 100%);
      opacity: 0.66;
    }

    .login-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .login-form {
    position: relative;
    
    .form-wrapper {
      position: relative;
      justify-content: center;
      display: flex;
      align-items: center;
      height: 100%;


      form {
        .form-title {
          color: $black;
          font-size: 40px;
          font-weight: 600;
          margin-bottom: 48px;
        }
  
        input {
          margin-bottom: 20px;
          width: 100%;
  
          &:last-child {
            margin-bottom: 10px;
          }
        }
  
        .login-loader-button-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
        }
        
        .form-message-success {
          color: $success;
          font-weight: bold;
          font-size: 16px;
          height: 15px;
          margin-bottom: 40px;
          visibility: hidden;
          
          &.is-displayed {
            visibility: visible;
          }
        }
  
        .login-form-error {
          color: $error;
          text-align: center;
          font-size: 13px;
          height: 15px;
          margin-bottom: 10px;
          visibility: hidden;
  
          &.is-displayed {
            visibility: visible;
          }
        }
      }
  
      .copyright-text {
        position: absolute;
        font-size: 12px;
        bottom: 30px;
      }
    }
  }

  @media (max-width: 991.98px) { 
    display: block;

    .image-wrapper {
      position: absolute;
    }

    .login-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      height: 90%;
      padding: 40px;
      width: 70%;
      border-radius: 10px;
    }
   }

  @media (max-width: 575.98px) {
    .image-wrapper {
      display: none;
    }

    .login-form {
      position: relative;
      height:100%;
      width: 100%;
    }
  }
}