.auto-complete-with-add-option {
  .MuiChip-root {
    background-color: #ffffff;
    border: 1px solid black;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    font-size: 16px;
  }
  .MuiInputBase-input {
    border: 1px;
  }
  .MuiInputBase-root {
    font-weight: 500;
    font-size: 16px;
  }
  .MuiChip-root.Mui-disabled {
    opacity: 0.8;
    pointer-events: none;
  }
  .MuiInputBase-root.Mui-disabled {
    color: black;
    cursor: not-allowed;
    opacity: 0.4;
    pointer-events: none;
    background-color: #f2f2f2;
    opacity: 0.8;
  }
  .MuiChip-labelSmall {
    padding-left: 8px;
    padding-right: 8px;
    color: #000000;
    font-family: 'ProximaNova-Regular';
  }
  .MuiOutlinedInput-root {
    &:hover {
      fieldset {
        &.MuiOutlinedInput-notchedOutline {
          border-color: #0768fd;
        }
      }
    }
    .MuiOutlinedInput-notchedOutline {
      border-color: #d9d9d9;
    }
    &.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-width: 1px;
      }
      fieldset {
        border-color: #0768fd;
      }
    }
  }
  .MuiAutocomplete-root:hover .MuiAutocomplete-clearIndicatorDirty {
    visibility: hidden;
  }
  .MuiAutocomplete-root.Mui-focused .MuiAutocomplete-clearIndicatorDirty {
    visibility: visible;
  }

  .MuiChip-deleteIcon {
    width: 16px;
    height: 16px;
  }

  .a-MuiChip-label {
    color: #000000 !important;
    font-family: 'ProximaNova-Regular' !important;
    font-size: 16px !important;
    font-weight: bold;

    .MuiChip-labelSmall {
      padding-left: 7px;
      padding-right: 4px;
    }
  }

  .MuiIconButton-root {
    width: 25px;
    height: 25px;

    .MuiSvgIcon-root {
      width: 18px;
      height: 18px;
      color: #000000;
      margin-bottom: 40%;
      margin-top: 60%;
    }
  }

  .MuiChip-deleteIcon {
    width: 14px;
    height: 14px;
  }
}
.MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root']
  .MuiAutocomplete-input:first-child {
  padding-left: 6px;
  font-size: 16px;
}
