@font-face {
  font-family: $proximaNova;
  src: url('../fonts/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'ProximaNova-Thin';
  src: url('../fonts/ProximaNova-Thin.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
  font-family: $proximaNova;

  .a-MuiAutocomplete-popper {
    &.disable {
      display: none !important;
    }
  }

  .MuiAutocomplete-popper {
    & > * {
      box-shadow: none !important;
    }
  }
  .event-launcher__tooltip {
    padding: 6px 10px;
    h3 {
      font-weight: 600;
      letter-spacing: 0.4px;
    }
    h4 {
      font-weight: 400;
      font-size: 14px;
    }
  }
  .hidden {
    display: none !important;
  }
}

.search-highlight {
  background-color: #0557d559 !important;
}

@media screen and (max-width: 1200px) and (min-width: 300px) {
  .fav-icon-button {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.edit-custom-name-modal {
  max-width: 480px;
  width: 100%;
  z-index: 99999;
}
