/* Colors */
$neutral8: #444444;
$neutral6: #999999;
$neutral4: #D9D9D9;
$white: #FFFFFF;
$black: #000000;
$neutral1: #f8f9fb;
$blue: #297DFD;
$darkerBlue: #0256D2;

/* Fonts */
$proximaNova: 'ProximaNova-Regular';

/* Properties */
$border: 1px solid $neutral4;
$loginResponsiveWidth: 968px;