/* Colors */
$neutral10: #7f7f7f;
$neutral9: #696969;
$neutral8: #444444;
$neutral7: #595959;
$neutral6: #999999;
$neutral4: #d9d9d9;
$neutral3: #e9e9e9;
$neutral2: #f2f2f2;
$neutral1: #f8f9fb;
$light: #f5f5f5;
$white: #ffffff;
$black: #000000;
$blue: #297dfd;
$darkerBlue: #0256d2;
$pink: #df216d;
$purple: #9e54b0;
$error: #d8000c;
$warning: #ff9300;
$success: #53c458;
$green: #017f16;
$neptune-primary: #0768fd;
$neptune-secondary: #297dfd;
$neptune-hover: #ecf3ff;
$border-color-disabled: rgba(0, 0, 0, 0.26);

/* Fonts */
$proximaNova: 'Proxima Nova';
$proximaNovaRegular: 'ProximaNova-Regular';
$proximaNovaThin: 'ProximaNova-Thin';
$proximaNovaBold: 'ProximaNova-Bold';

/* Viewports */
$viewport-3: 320px;
$viewport-4: 480px;
$viewport-7: 768px;
$viewport-9: 992px;
$viewport-12: 1200px;

/* Properties */
$border: 1px solid $neutral4;
$loginResponsiveWidth: 968px;
$toolbarHight: 57px;
