/* Colors */
$neutral8: #444444;
$neutral7: #595959;
$neutral6: #999999;
$neutral4: #D9D9D9;
$neutral3: #E9E9E9;
$neutral2: #F2F2F2;
$neutral1: #f8f9fb;
$white: #FFFFFF;
$black: #000000;
$blue: #297DFD;
$darkerBlue: #0256D2;
$purple: #9E54B0;
$neutral2: #F2F2F2;
$neutral4: #d9d9d9;
$neptune-primary: #0768FD;
$neptune-hover: #ecf3ff;

/* Fonts */
$proximaNova: 'ProximaNova-Regular';

/* Viewports */
$viewport-3: 320px;
$viewport-4: 480px;
$viewport-7: 768px;
$viewport-9: 992px;
$viewport-12: 1200px;

/* Properties */
$border: 1px solid $neutral4;
$loginResponsiveWidth: 968px;
$toolbarHight: 57px;
