#dashboard {
  .tab-wrapper {
    padding: 10px;
    display: inherit !important;
  }

  & > .tab-wrapper {
    padding-top: $toolbarHight;
  }

  .loading {
    display: flex;
    justify-content: center;
    margin: 50px auto;
  }
}

// Ubuild toolbar styles
.ubuild-wrapper {
  padding-top: $toolbarHight;
}

#dashboard .tab-content-wrapper .current-tab {
  border-width: 1px 1px 1px 1px;
}

#dashboard .tab-content-wrapper .past-tab {
  border-width: 1px 1px 1px 1px;
}

#dashboard .tab-content-wrapper .Mui-expanded.current-tab {
  border-width: 0px 0px 0px 0px;
}

#dashboard .tab-content-wrapper .Mui-expanded.past-tab {
  border-width: 0px 0px 0px 0px;
}

// --------------

#dashboard .tab-content-wrapper .current-tab .MuiAccordionSummary-content > p {
  font-weight: 600 !important;
}

#dashboard .tab-content-wrapper .past-tab .MuiAccordionSummary-content > p {
  font-weight: 600 !important;
}

#dashboard
  .tab-content-wrapper
  .Mui-expanded.current-tab
  .MuiAccordionSummary-content
  > p {
  font-weight: 600 !important;
}

#dashboard
  .tab-content-wrapper
  .Mui-expanded.past-tab
  .MuiAccordionSummary-content
  > p {
  font-weight: 600 !important;
}
.no-info-card {
  text-align: center;
  padding: 20px;
  color: #595959;
}
