.event-launcher {
  &__modal {
    & > div:first-child {
      & > div:nth-child(2) {
        padding-bottom: 5px;
      }
    }
    .content-heading {
      display: block;
      padding-bottom: 12px;
    }
    width: 545px;
  }
}

.unassigned-roles-list-container {
  .desc {
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
  }

  .unassigned-roles-list-scrollable {
    max-height: 8.75rem;
    overflow: auto;
    padding: 0.5rem;
    border: 1px solid #dddddd;
    border-radius: 0.25rem;
    p {
      font-size: 0.8777rem;
      line-height: 1.5rem;
      font-weight: 400;
      font-family: 'ProximaNova-Regular', Arial, sans-serif;
    }
  }
}
