/* Add styles to hide vertical scrollbar and position the "Add New Question" link */
#key-milestone-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: hidden;
  margin-left: 15px;
  ::-webkit-scrollbar {
    width: 0em !important;
    height: 0em !important;
    background: none !important;
  }
}

#key-milestone-left-section {
  flex: 1;
  overflow-y: auto;
}

.add-question-link {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 10px;
  z-index: 1;
}

.key-milestone-header {
  font-size: 20px;
  line-height: 1.04;
  font-weight: 600;
  margin-top: 30px;
}

.key-milestone-divider-hr {
  width: 95%;
  margin-top: 15px;
  height: 1px;
  border: 0.6em;
  border-top: 1px solid #ddd;
  padding: 0;
}
