.modal-content{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.body-wrapper {
  flex-direction: column;
  margin-bottom: 40px;
}

.modal-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}

.question-title {
  height: 32px;
  width: 522px;
  color: $black;
  font-family: $proximaNova;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
}

.question-subtitle {
  height: 24px;
  width: 190.06px;
  color: $black;
  font-family: $proximaNova;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.question-segment-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-segment {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  width: 100%;
  flex-wrap: wrap;
}

.question-segment-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.question-button-cancel {
  margin-right: 8px;
}

.dd-title {
  height: 24px;
  width: 100%;
  color: $neutral8;
  font-family: "Proxima Nova";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 4px;
}

.dd-answer-type {
  width: 352px;
  margin-right: 17px;
}

.question-picker {
  width: 174px;
}

.modal-text-area {
  box-sizing: border-box;
  height: 94px;
  width: 100%;
  border: 1px solid $neutral4;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0);
  outline: none;
  font-family: $proximaNova;
  padding: 8px;
  resize: none;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.close-modal-icon {
  cursor: pointer;
}