#panelwrapper {
  display: flex;
  height: max-content;
}

#panel-notepad {
  min-height: 100vh;
  max-height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  padding: 25;
}

#panel-questions-list {
  flex-grow: 1;
  flex-shrink: 100;
}

/* Hide the Toolbar in notesection when Panel is collapsed */
div[class*='Panel-closedPanel-'] {
  .rdw-editor-toolbar {
    visibility: hidden !important;
  }
}

.DraftEditor-root {
  overflow: auto;
  // resize: vertical;
  border: 1px #1f1f1f;
  line-height: 1.1rem;
  .public-DraftEditorPlaceholder-root {
    // padding: 9px 11px;
  }
  .DraftEditor-editorContainer {
    padding: 5px 10px;
    height: calc(100% - 16px);
    * {
      font-size: 12px;
    }
  }
}
