$note-line-height: 1.1rem;
$note-no-of-lines: 3;

.notepad {
    padding: 16px;
    height: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    font-size: 12px;

    * {
        font-family: inherit !important;
    }

    .list {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        max-height: calc(100% - 174px);
        overflow-y: scroll;
        margin-bottom: 8px;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        &.justify-center {
            justify-content: center;
            font-size: 14px;
        }
        .note {
            margin-bottom: 16px;
            .header {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                .username {
                    color: $neptune-primary;
                    font-weight: 600;
                    font-size: 12px;
                }
                .date {
                    font-weight: bold;
                    font-size: 10px;
                }

            }
            .body {
                padding: 0 8px;
                .title {
                    font-weight: bold;
                    margin-bottom: 4px;
                }
                .content-wrapper {
                    position: relative;
                    margin-bottom: 4px;
                    line-height: $note-line-height;
                    max-height: $note-no-of-lines * $note-line-height;
                    overflow: hidden;
                    position: relative;
                    .DraftEditor-root {
                        resize: none;
                        border: none;
                        .DraftEditor-editorContainer {
                            padding: 0;
                            height: auto !important;
                            word-break: break-all;
                        }
                    }
                    .expand-link {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        background-color: #FFFFFF;
                        padding-left: 2px;
                        z-index: 1;
                    }
                }
            }
        }
    }

    .add-note {
        * {
            font-size: 12px;
        }
        .MuiFormLabel-root, .label {
            font-weight: 600;
        }
        .button {
            background-color: $neptune-primary;
        }
        .DraftEditor-root {
            height: 150px;
            max-height: 300px;
            min-height: 150px;
        }
    }

    .read-note {
        height: 100%;
        padding-bottom: 24px;
        .title {
            font-weight: 600;
        }

        .note-view-container {
            height: 100%;
            padding-bottom: 8px;

            .note-view {
                overflow-y: auto;
                max-height: 100%;
                background-color: $white;
                margin-top: 8px;
                padding: 16px;
                border: .5px solid #9999994d;
                .note {
                    line-height: $note-line-height;
                }
            }
        }

        .DraftEditor-root {
            height: calc(100% - 34px);
        }

    }

    .edit-note {
        height: 100%;
        form {
            display: flex;
            flex-direction: column;
            height: 100%;
            .textarea-container {
                flex-grow: 1;
                overflow-y: auto;
                .MuiGrid-item {
                    padding: 0;
                }
                .MuiFormControl-root {
                    height: 100%;
                    .MuiInputBase-multiline {
                        height: 100%;
                        margin-bottom: 8px;
                        textarea {
                            height: 100% !important;
                            overflow: auto !important;
                            resize: vertical !important;
                        }
                    }
                }
            }
        }
        * {
            font-size: 12px;
        }
        .MuiFormLabel-root {
            font-weight: 600;
        }
        .button {
            background-color: $neptune-primary;
        }
        .DraftEditor-root {
            height: calc(100% - 34px);
        }
    }

    .loading-msg {
        margin-top: 32px;
        z-index: 3003;
    }
}

.DraftEditor-root {
    overflow: auto;
    resize: vertical;
    border: 1px solid rgb(153, 153, 153);
    line-height: 1.1rem;
    .public-DraftEditorPlaceholder-root {
        padding: 9px 11px;
    }
    .DraftEditor-editorContainer {
        padding: 9px 11px;
        height: calc(100% - 16px);
        * {
            font-size: 14px;
        }
    }
    &:hover {
        border-color: #0768fd;
    }
}