#panelwrapper {
  display: flex;
  flex-grow: 1;
  height: max-content;
  padding-top: 8px;
}

#panel-notepad {
  min-height: calc(100vh - 57px);
  max-height: calc(100vh - 57px);
  position: sticky;
  top: $toolbarHight;
  overflow: hidden;
  padding-right: 25px;
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c1a9a9;
  }

  .panel-notepad-inner {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);

    &.hidden {
      display: none;
    }

    .editor-notepad {
      border-top: $border;
      .editor__header {
        border-bottom: $border;
      }
    }
    .network-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .network-interrupt {
        font-size: 12px;
        .MuiChip-label {
          white-space: normal;
        }
      }
    }
  }

  .react-resizable {
    border: $border !important;
    border-radius: 5px;

    & > * {
      &:last-child {
        & > div {
          background-color: transparent !important;
        }
        &:hover {
          div {
            background-color: $neptune-primary !important;
          }
        }
      }
    }

    & > div:first-child {
      height: 100%;
      & > div {
        height: inherit;
        & > div {
          height: inherit;
          .rdw-editor-wrapper {
            display: grid;
            grid-template-rows: auto minmax(0, 1fr);
          }
          .public-DraftEditor-content {
            height: calc(100% - 16px);
            overflow-wrap: anywhere;
          }
        }
      }
    }
  }
  .rdw-editor-main {
    overflow: hidden;
  }
  .DraftEditor-root {
    line-height: 1.1rem;
    width: 100%;

    .editor-notepad .DraftEditor-editorContainer {
      padding: 8px 12px;
      * {
        font-size: 14px;
      }
      overflow: auto;
    }
  }

  &.show-highlight {
    // .notepad-classoverride {
    //   border: 2px solid #0557d559;
    // }
  }
}

#panel-questions-list {
  flex-grow: 1;
  flex-shrink: 100;
}

#panel-notepad-header {
  padding: 12px 12px 4px;

  & > h3 {
    font-family: $proximaNovaRegular;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  & > p {
    font-family: $proximaNovaRegular;
    font-size: 14px;
  }
}
