.proposal-wrapper {
  height: 100%;
  flex: 1;
  font-family: $proximaNova;
  color: $black;
  position: relative;
  transition: 0.4s ease-in-out margin-right;
  margin-right: 0%;

  &.is-collapsed {
    margin-right: 500px;
  }

  .proposal-loader {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .proposal-details {
    padding: 25px 30px;

    .tasksList-title-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 35px 0;

      .tasksList-title {
        font-size: 18px;
        font-weight: 600;
      }

      .taskList-icons-wrapper {
        display: flex;
        flex-direction: row;

        .taskList-checkbox-wrapper {
          margin-right: 10px;
          margin-top: 5px;
        }

        .tasksList-refresh-icon-wrapper {
          display: flex;
          height: 32px;
          width: 32px;
          border-radius: 50%;
          background-color: #0557d5;
          box-shadow: 0 4px 8px 0 rgba(41, 125, 253, 0.16),
            0 4px 4px 0 rgba(0, 0, 0, 0.04),
            0 8px 16px 0 rgba(41, 125, 253, 0.32);
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-right: 10px;

          .tasksList-add-icon {
            padding: 6px;
          }
        }

        .tasksList-add-icon-wrapper {
          display: flex;
          height: 32px;
          width: 32px;
          border-radius: 50%;
          background-color: #0557d5;
          box-shadow: 0 4px 8px 0 rgba(41, 125, 253, 0.16),
            0 4px 4px 0 rgba(0, 0, 0, 0.04),
            0 8px 16px 0 rgba(41, 125, 253, 0.32);
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .tasksList-add-icon {
            padding: 6px;
          }
        }
      }
    }
  }
}
