.proposal-wrapper {
  .proposal-details {
    background-color: $neutral1;
  }
  ._question-tab {
    padding: 0 20px;
    background-color: $white;
    &::before {
      left: 0;
      right: 0;
    }
  }
  .processing-txt {
    display: block;
  }
  .opportunity-details {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: minmax(0, 2.8fr) minmax(390px, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
      'one two'
      'one two';

    & > div {
      &:nth-child(1) {
        grid-area: one;
      }
      &:nth-child(2) {
        grid-area: two;
      }
    }

    & > .task-wrapper {
      margin-bottom: 0;
      box-shadow: 0px 8px 20px 2px rgba(50, 52, 56, 0.12);

      .task-table-wrapper {
        padding: 0;
      }
    }

    @media screen and (max-width: 1250px) {
      grid-template-columns: minmax(0, 2.8fr) minmax(320px, 1fr);
    }

    @media screen and (max-width: 1090px) {
      grid-template-columns: minmax(320px, 1fr) minmax(0, 2.8fr);
      grid-template-areas:
        'one one'
        'two .';
    }
    @media screen and (max-width: 780px) {
      grid-template-areas:
        'one one'
        'two two';
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 300px) {
  .proposal-wrapper {
    height: 100%;
    flex: 1;
    font-family: $proximaNova;
    color: $black;
    position: relative;
    transition: 0.4s ease-in-out margin-right;
    margin-right: 0%;

    &.is-collapsed {
      margin-right: 0px;
      width: 85%;
    }
    .MuiSnackbarContent-root {
      min-height: 57px;
    }
    .proposal-loader {
      flex: 1;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .MuiGrid-spacing-xs-2 > .MuiGrid-item {
      padding: 0px;
      padding-left: 0px;
      padding-top: 8px;
    }
    p.boldtext {
      font-weight: 600;
      color: $black;
      font-family: $proximaNova;
    }
    .sidebarduedatedsg {
      text-align: center !important;
    }
    .sidebaropenfont {
      font-size: 14px;
    }
    .duedatedsg {
      height: 100%;
    }
    .phasedsg {
      height: 100%;
    }
    .leftalign {
      text-align: left;
      padding-left: 5px;
    }
    .duedatedsg.open {
      padding-left: 15px !important;
    }
    p.greencolor {
      color: $success;
      font-size: 30px;
    }
    p.greencolorsidebaropenfont {
      color: $success;
      font-size: 12px;
    }
    p.greytext {
      color: $neutral10;
      font-weight: 530;
      font-family: $proximaNova;
    }
    button.MuiTab-textColorInherit {
      color: $neutral10;
      font-weight: 500;
    }
    button.Mui-selected {
      color: $black;
      font-weight: 500;
    }
    .proposal-details {
      .tasksList-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0px 0 16px 0;

        .tasksList-title {
          font-size: 18px;
          font-weight: 600;
        }

        .taskList-icons-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;

          .taskList-checkbox-wrapper {
            margin-right: 10px;
            margin-top: 5px;
          }

          .tasksList-refresh-icon-wrapper {
            display: flex;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            background-color: $darkerBlue;
            box-shadow: 0 4px 8px 0 rgba(41, 125, 253, 0.16),
              0 4px 4px 0 rgba(0, 0, 0, 0.04),
              0 8px 16px 0 rgba(41, 125, 253, 0.32);
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-right: 10px;

            .tasksList-add-icon {
              padding: 6px;
            }
          }

          .tasksList-add-icon-wrapper {
            display: flex;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            background-color: $darkerBlue;
            box-shadow: 0 4px 8px 0 rgba(41, 125, 253, 0.16),
              0 4px 4px 0 rgba(0, 0, 0, 0.04),
              0 8px 16px 0 rgba(41, 125, 253, 0.32);
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-right: 10px;

            .tasksList-add-icon {
              padding: 6px;
            }
          }
        }
      }

      .questions-filter__container {
        position: relative;
        .questions-filter__grid.column_style {
          display: flex;
          flex-direction: column;
        }

        .questions-filter__grid {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
          background-color: $neutral1;
          padding: 12px 24px;
          margin-bottom: 8px;

          .questions-filter__item {
            margin-bottom: 4px;
            .MuiFormControlLabel-label {
              font-size: 12px;
            }
          }

          .questions-filter__row1-col1 {
            grid-row-start: 1;
            grid-column-start: 1;
          }

          .questions-filter__row2-col1 {
            grid-row-start: 2;
            grid-column-start: 1;
          }
        }

        .filtertitle {
          font-weight: bold;
          font-size: 14px;
          padding-bottom: 10px;
        }

        .clear-all {
          border-bottom: none;
          position: absolute;
          right: 12px;
          top: 8px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1201px) and (max-width: 3000px) {
  .proposal-wrapper {
    height: 100%;
    flex: 1;
    font-family: $proximaNova;
    color: $black;
    position: relative;
    transition: 0.4s ease-in-out margin-right;
    margin-right: 0%;

    &.is-collapsed {
      margin-right: 0px;
      width: 85%;
    }
    .MuiSnackbarContent-root {
      min-height: 57px;
    }
    .proposal-loader {
      flex: 1;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .MuiGrid-spacing-xs-2 > .MuiGrid-item {
      padding: 0px;
      padding-left: 0px;
      padding-top: 8px;
    }
    p.boldtext {
      font-weight: 600;
      color: $black;
      font-family: $proximaNova;
    }
    .sidebarduedatedsg {
      text-align: center !important;
    }
    .sidebaropenfont {
      font-size: 14px;
    }
    .duedatedsg {
      text-align: left !important;
      padding-left: 20px !important;
      height: 100%;
    }
    .phasedsg {
      height: 100%;
    }
    .leftalign {
      text-align: left;
      padding-left: 5px;
    }
    .duedatedsg.open {
      padding-left: 15px !important;
    }
    p.greencolor {
      color: $success;
      font-size: 30px;

      @media only screen and (max-width: 1600px) {
        .processing-txt {
          font-size: 22px;
        }
      }
    }
    p.greencolorsidebaropenfont {
      color: $success;
      font-size: 12px;
    }
    p.greytext {
      color: $neutral10;
      font-weight: 530;
      font-family: $proximaNova;
    }
    button.MuiTab-textColorInherit {
      color: $neutral10;
      font-weight: 500;
    }
    button.Mui-selected {
      color: $black;
      font-weight: 500;
    }
    .proposal-details {
      .tasksList-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0px 0 16px 0;

        .tasksList-title {
          font-size: 18px;
          font-weight: 600;
        }

        .taskList-icons-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;

          .taskList-checkbox-wrapper {
            margin-right: 10px;
            margin-top: 5px;
          }

          .tasksList-refresh-icon-wrapper {
            display: flex;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            background-color: $darkerBlue;
            box-shadow: 0 4px 8px 0 rgba(41, 125, 253, 0.16),
              0 4px 4px 0 rgba(0, 0, 0, 0.04),
              0 8px 16px 0 rgba(41, 125, 253, 0.32);
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-right: 10px;

            .tasksList-add-icon {
              padding: 6px;
            }
          }

          .tasksList-add-icon-wrapper {
            display: flex;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            background-color: $darkerBlue;
            box-shadow: 0 4px 8px 0 rgba(41, 125, 253, 0.16),
              0 4px 4px 0 rgba(0, 0, 0, 0.04),
              0 8px 16px 0 rgba(41, 125, 253, 0.32);
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-right: 10px;

            .tasksList-add-icon {
              padding: 6px;
            }
          }
        }
      }

      .questions-filter__container {
        position: relative;
        .questions-filter__grid.column_style {
          display: flex;
          flex-direction: column;
        }

        .questions-filter__grid {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
          background-color: $neutral1;
          padding: 12px 24px;
          margin-bottom: 8px;

          .questions-filter__item {
            margin-bottom: 4px;
            .MuiFormControlLabel-label {
              font-size: 12px;
            }
          }

          .questions-filter__row1-col1 {
            grid-row-start: 1;
            grid-column-start: 1;
          }

          .questions-filter__row2-col1 {
            grid-row-start: 2;
            grid-column-start: 1;
          }
        }

        .filtertitle {
          font-weight: bold;
          font-size: 14px;
          padding-bottom: 10px;
        }

        .clear-all {
          border-bottom: none;
          position: absolute;
          right: 12px;
          top: 8px;
        }
      }
    }
  }
}

.autocomplete-text {
  color: $black !important;
  font-family: $proximaNova !important;
  font-size: 16px !important;
  input {
    height: 36px !important;
    color: $black !important;
    font-family: $proximaNova !important;
    font-size: 16px !important;
  }
  .a-MuiChip-label {
    color: $black !important;
    font-family: $proximaNova !important;
    font-size: 16px !important;
  }
}

.exportOptionsWrapper {
  width: 550px;

  .flex-dir-col {
    flex-direction: column;
  }
  .exportOptionsRow-first {
    margin-bottom: 10px;
    border-bottom: 1px solid #dfdada;
    padding-bottom: 10px;
  }
  .exportOptionsRow-second {
    margin-bottom: 20px;
  }
  .button-group {
    justify-content: flex-end;
  }
  .exportOptionsRow {
    display: flex;
    justify-content: space-between;
    label {
      font-size: 14px;
      font-family: $proximaNova !important;
      color: $black;
    }
    .exportOptionsCell {
      width: 48%;
    }
    .exportFileName {
      border: 1px solid #dfdada;
      padding: 8px;
      border-radius: 3px;
      width: 90%;
      margin-bottom: 5px;
      margin-top: 7px;
      color: $black !important;
      font-family: $proximaNova !important;
      font-size: 16px !important;
    }
    .exportFileName:hover,
    .exportFileName:focus-visible {
      border-color: $neptune-primary !important;
      outline: none;
    }
    span.fileNameAlert {
      display: none;
      color: $error;
      font-size: 12px;
    }
    .exportFileName:required:invalid + span.fileNameAlert {
      display: block;
    }
  }
  .exportOptionsRow-last {
    justify-content: end;
    .export-okay {
      margin-right: 0;
    }
  }
}

//custom determinate button for export milestone filter
.all-not-selected {
  position: relative;
  label {
    > span:first-child::before {
      background-color: $neptune-primary;
      content: '-';
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      color: $white;
      font-size: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: inherit;
      z-index: 1;
    }
  }
}
