.proposal-team-title {
  padding-left: 15px;
  margin-top: 10px;
}
.proposal-team-answer {
  padding-left: 15px;
  max-width: 400px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-y: auto !important;
  // height: 466px !important;
}
.divider-hr-proposal-team {
  margin-left: 16px;
  margin-right: 16px;
  height: 1px;
  border: 0.6em;
  border-top: 1px solid #ddd;
  padding: 0;
}
