.pi-wrapper {
  flex: 1;
  padding-top: 12px;
  padding-left: 29px;
  padding-right: 163px;

  .pi-title {
    color: $black;
    font-family: $proximaNova;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 29px;
    margin-bottom: 31px;
  }

  .pi-subtitle {
    height: 30px;
    width: 102px;
    color: $black;
    font-family: $proximaNova;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
    margin-left: 3px;
    margin-bottom: 26px;
  }

  .pi-details {
    display: flex;
    flex-grow: 1;
    margin-left: 3px;
    margin-bottom: 16px;
    font-family: $proximaNova;
    color: $neutral8;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    flex-wrap: wrap;
    align-content: space-between;

    &-title {
      margin-bottom: 5px;
    }

    &-subtitle {
      font-weight: 600;
      margin-bottom: 20px;
    }

    .pi-details-row {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      min-width: 165px;
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }

      .pi-details-column {
        display: flex;
        flex-direction: column;

        .pi-details-data {
          color: $black;
          font-family: $proximaNova;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 24px;
        }
      }

      .pi-details-row-segment {
        display: flex;

        .pi-details {
          color: $black;
          font-family: $proximaNova;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 24px;
          padding-left: 5px;

          &-title {
            margin-bottom: 20px;
          }

          &-data {
            font-weight: 600;
            margin-bottom: 23px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
