.proposalInfo-wrapper {
  flex: 1;
  padding-top: 12px;
  padding-left: 32px;
  padding-bottom: 20px;
  padding-right: 163px;

  .proposalInfo-title {
    height: 29px;
    width: 103px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 29px;
    margin-bottom: 31px;
  }

  .proposalInfo-subtitle {
    height: 30px;
    width: 102px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
    margin-left: 23px;
    margin-bottom: 26px;
  }

  .proposalInfo-details {
    display: flex;
    flex-grow: 1;
    margin-left: 23px;
    margin-bottom: 16px;
    
    .proposalInfo-details-row {
      display: flex;
      flex-direction: column;
      min-width: 165px;
      margin-right: 180px;

      &:last-child {
        margin-right: 0;
      }

      .proposalInfo-details-column {
        display: flex;
        flex-direction: column;

        .proposalInfo-details {
          color: #444444;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 24px;

          &-title {
            font-family: "Proxima Nova";
            margin-bottom: 5px;
          }

          &-subtitle {
            font-family: "Proxima Nova Bold";
            margin-bottom: 20px;
          }
        }

        .proposalInfo-details-data {
          color: #000000;
          font-family: "Proxima Nova";
          font-size: 16px;
          letter-spacing: 0;
          line-height: 24px;
        }
      }

      .proposalInfo-details-row-segment{
        display: flex;

        .proposalInfo-details-data {
          color: #000000;
          font-family: "Proxima Nova";
          font-size: 16px;
          letter-spacing: 0;
          line-height: 24px;
          padding-left: 5px;
        }
      }
    }
  }
}