.proposal-team-title {
  padding-bottom: 5px;
}
.proposal-team-answer {
  padding-left: 15px;
  max-width: 550px !important;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-y: auto !important;
  overflow-x: hidden;
}
.proposalTeammarkNaAutoActive {
  margin-bottom: -3px;
  margin-left: -40px;
  margin-top: -2px;
}
.divider-hr-proposal-team {
  margin-left: 16px;
  margin-right: 16px;
  height: 1px;
  border: 0.6em;
  border-top: 1px solid #ddd;
  padding: 0;
}
.proposal-team-flex {
  display: flex;
}
.proposal-team-chipview {
  display: flex;
  justify-content: flex-end;
}
.proposal-team-wrapper-container {
  overflow-y: auto;
  height: 442px !important;
  margin: 2px 0px;
}
.add-question {
  padding-left: 15px;
}
.proposal-team-wrapper {
  margin-top: 5px;
  margin-bottom: 12px;
}
.integrations-icon {
  margin-top: 3rem;
  margin-left: -6rem;
}
.proposal-tema-tooltip {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  width: 100%;
  transition: width 0.2s;
}
.status-txt {
  color: $neptune-primary;
  font-weight: 500;
  font-size: 12px;
  font-style: italic;
}
.proposal-team-edit-icon {
  padding-left: 1rem;
  cursor: pointer;
}
.padding-Na {
  padding-left: 40px;
}
