.proposal-wrapper {
  background-color: #f7f8fc;
  flex: 1;
  font-family: $proximaNova;
  color: $black;
  position: relative;
  transition: 0.4s ease-in-out margin-right;
  margin-right: 0%;

  &.is-collapsed {
    margin-right: 20%;
  }

  .proposal-loader {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .proposal-details {
    padding: 25px 30px;

    .proposal-detail {
      display: flex;
      justify-content: space-between;

      .proposal-legend {
        box-sizing: border-box;
        border: 1px solid #e9e9e9;
        border-radius: 4px;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
        padding: 0 15px 15px 15px;

        h2 {
          text-align: center;
          color: $black;
          font-size: 16px;
          line-height: 24px;
          border-bottom: 1px solid #f6f7fb;
          padding: 10px 0;
        }

        p {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          font-size: 14px;
          font-style: italic;
          font-family: $proximaNovaThin;

          .composed-icon {
            margin-right: 15px;
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    .tasksList-title-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 35px 0;

      .tasksList-title {
        font-size: 18px;
        font-weight: 600;
      }

      .taskList-icons-wrapper {
        display: flex;
        flex-direction: row;

        .taskList-checkbox-wrapper {
          margin-right: 10px;
          margin-top: 5px;
        }

        .tasksList-refresh-icon-wrapper {
          display: flex;
          height: 32px;
          width: 32px;
          border-radius: 50%;
          background-color: #0557d5;
          box-shadow: 0 4px 8px 0 rgba(41, 125, 253, 0.16),
            0 4px 4px 0 rgba(0, 0, 0, 0.04),
            0 8px 16px 0 rgba(41, 125, 253, 0.32);
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-right: 10px;

          .tasksList-add-icon {
            padding: 6px;
          }
        }

        .tasksList-add-icon-wrapper {
          display: flex;
          height: 32px;
          width: 32px;
          border-radius: 50%;
          background-color: #0557d5;
          box-shadow: 0 4px 8px 0 rgba(41, 125, 253, 0.16),
            0 4px 4px 0 rgba(0, 0, 0, 0.04),
            0 8px 16px 0 rgba(41, 125, 253, 0.32);
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .tasksList-add-icon {
            padding: 6px;
          }
        }
      }
    }
  }
}
