.recent-header {
  color: #000000;
  font-family: 'Proxima Nova';
  letter-spacing: 0;
  height: 32px;
  width: 767px;
}

.recent-card {
  padding: 1em;
  height: '73vh';
  /* overflow: scroll; */
}

.recent-activity-tab {
  height: 430px;
  overflow-y: scroll;
}

.recent-activity-tab::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.recent-activity-tab::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border-radius: 5px;
}

.recent-search-field {
  width: 400px;
}

.recent-search-input {
  height: 40px;
  width: 427px;
  padding-bottom: '1em';
}

.notification-item-dots {
  color: #df216d;
}
.notification-items {
  padding-left: '1em';
}
.MuiButtonBase-root {
  .current {
    background: #0768fd !important;
    height: 48px;
    width: 387px;
    text-align: center;
    color: white;
    padding: 10px;
    .MuiTypography-body1 {
      align-items: center;
      display: flex;
      color: white;
      justify-content: center;
      height: 28px;
    }
  }
}
