@media screen and (max-width: 1200px) and (min-width: 300px) {
  .task-table-row {
    // display: grid;
    // grid-template-columns: 1.3fr 1.3fr 160px;
    padding: 8px;
    align-items: center;
    border-radius: 2px;

    p {
      p {
        font-size: 16px;
      }
    }

    .question-text {
      display: grid;
      align-items: center;

      p {
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        margin-left: 5px;
        padding-right: 10px;
        font-size: 12px;

        .edit-icon {
          margin-left: 10px;
          position: relative;
          top: 3px;
          color: #5d5d5d;
        }
      }

      .answered {
        margin-left: 4px;
      }
    }

    button {
      outline: none;
      border: none;
      background-color: transparent;
      color: $neptune-secondary;
      cursor: pointer;
      font-size: 14px;
    }

    .date-picker {
      & > div {
        margin-top: 0;
        & > div {
          margin-top: 0;
        }
      }

      .resetButton {
        margin-top: 0.75rem !important;
      }

      &.disabled {
        cursor: not-allowed;

        .Mui-disabled {
          background-color: $neutral2;
          opacity: 1;

          input {
            &:disabled {
              &::placeholder {
                color: $neutral6;
              }
            }
          }
        }
      }
    }
    .autocomplete-disabled {
      cursor: not-allowed;
      .Mui-disabled {
        background-color: $neutral2 !important;
      }
    }
    .public-DraftStyleDefault-block {
      margin: 2px 0px;
    }
  }
}

@media only screen and (min-width: 1201px) {
  .task-table-row {
    // display: grid;
    // grid-template-columns: 1.3fr 1.3fr 160px;
    padding: 10px 8px;
    align-items: flex-start;
    border-radius: 2px;

    p {
      p {
        font-size: 16px;
      }
    }

    .question-text {
      display: grid;
      grid-template-columns: 0.1fr 1.9fr;
      align-items: center;

      p {
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        margin-left: 5px;
        padding-right: 10px;

        .edit-icon {
          margin-left: 10px;
          position: relative;
          top: 3px;
          color: #5d5d5d;
        }
      }

      .answered {
        margin-left: 4px;
      }
    }

    button {
      outline: none;
      border: none;
      background-color: transparent;
      color: $neptune-secondary;
      cursor: pointer;
      font-size: 16px;
    }

    .date-picker {
      & > div {
        margin-top: 0;
        & > div {
          margin-top: 0;
        }
      }

      .resetButton {
        margin-top: 0.75rem !important;
      }

      &.disabled {
        cursor: not-allowed;

        .Mui-disabled {
          background-color: $neutral2;

          opacity: 1;

          input {
            &:disabled {
              &::placeholder {
                color: $neutral6;
              }
            }
          }
        }
      }
    }
    .autocomplete-disabled {
      cursor: not-allowed;
      .Mui-disabled {
        background-color: $neutral2 !important;
      }
    }
    .public-DraftStyleDefault-block {
      margin: 2px 0px;
    }
  }
}

.question-row {
  .question-text-container {
    display: flex;
    align-items: center;
    .question-text {
      display: flex;
      flex-wrap: nowrap;

      .question-text-para {
        .edit-icon {
          position: relative;
          margin-left: 10px;
          top: 4px;
        }
        .question-tooltip-icon {
          width: auto;
          height: auto;
          left: 8px;
        }
      }

      p {
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        margin-left: 5px;
        padding-right: 10px;
      }
    }
  }
  .answer-col-container {
    display: flex;
    align-items: flex-start;
  }
  .datecompleted-col-container {
    display: flex;
    align-items: center;
  }
  .answer-col {
    .date-picker {
      position: relative;
      & > div {
        margin-top: 0px;
        & > div {
          margin-top: 0px;
        }
      }
    }
  }
  .date-answered-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .date-answered-btn {
      .MuiButton-label {
        color: $neptune-secondary;
        font-weight: 400;
      }
    }
  }

  @media (min-width: 960px) {
    .question-row {
      .question-col {
        display: flex !important;
        align-items: center !important;
      }
    }
  }
}

.selected-task-table-row {
  background-color: $neptune-hover;
}

.task-table-row {
  & > div > div {
    &:nth-child(even) {
      max-width: none;
      flex: 0 1 100px;
    }
    &:nth-child(odd) {
      max-width: none;
      flex: 1;
    }
  }

  .question-label-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    width: 100%;
    transition: width 0.2s;

    &.has-richtext-icon {
      width: calc(100% - 28px);
    }
    .question-label-inner {
      display: flex;

      .questiontext-richtext {
        z-index: 0;
        .question-title-txt {
          .RichEditor-editor {
            line-height: 1.2;
            .public-DraftEditor-content {
              padding: 0;
              .public-DraftStyleDefault-block {
                margin: 0;
              }
            }
          }
        }
      }
      .question-edit {
        padding-left: 5px;
      }
      .question-hint {
        padding-left: 5px;

        button {
          width: 20px;
          height: 20px;
          display: block;
          align-items: flex-start;
          padding: 0;

          svg {
            font-size: 17px !important;
          }
        }
      }
    }

    .milestone-chip {
      padding-left: 4px;

      .chipview {
        z-index: 1;
        position: relative;
      }
    }
  }
}
