.task-table-row {
  display: grid;
  grid-template-columns: 1.3fr 1.3fr 0.4fr;
  margin-bottom: 15px;

  .question-text {
    display: grid;
    grid-template-columns: 0.1fr 1.9fr;

    p {
      margin-left: 5px;
    }
  }

  button {
    outline: none;
    border: none;
    background-color: transparent;
    color: $neptune-secondary;
    cursor: pointer;
    font-size: 16px;
  }
}
