.tasksList-wrapper {
  flex: 1;
  padding-left: 32.5px;
  padding-right: 30px;
  padding-bottom: 5px;

  .tasksList-title {
    color: $black;
    font-family: $proximaNova;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 24px;
  }

  .tasksList-separator {
    flex: 1;
    height: 12px;
  }
}