#tasks-list-left-section {
  padding: 16px;
  padding-right: 0;
  .task-list-divider-hr {
    height: 1px;
    border: 0.6em;
    border-top: 1px solid #ddd;
    padding: 0;
  }
  .accordions-wrapper {
    height: calc(100% - 2.25rem);
    overflow: auto;
    padding: 8px;
    .header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .header-title {
        font-weight: 400;
        padding-top: 0.75rem;
        &.font-bold {
          font-weight: bold;
        }
      }
      .uncompleted-tasks-count {
        display: flex;
        align-items: center;
        .count-text {
          font-size: 14px;
          padding-left: 4px;
          margin-bottom: -4px;
        }
      }
    }
    .MuiPaper-root.MuiAccordion-root {
      border-width: 0;
      .MuiAccordionDetails-root {
        padding: 0.5rem;
        padding-left: 1rem;
      }
      .task-item-drag-container {
        display: flex !important;
        align-items: center;
        .drag-icon {
          margin-right: 0.35rem;
        }
        .task-desc {
          flex-grow: 1;
          line-height: 24px;
          max-height: 48px; // line-height * 2 - two lines
          overflow: hidden;
          p {
            position: relative;
            // padding-left: 14px;
            word-break: break-all;
            &.font-bold {
              font-weight: bold;
            }
            .ellipsis {
              display: none;
              position: absolute;
              right: 0;
              top: 24px;
              height: 24px;
              background-color: #ffffff;
              &.show {
                width: 30px;
                display: flex;
                align-items: flex-end;
              }
              svg {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  .font-red {
    color: #e20000;
  }
  .font-yellow {
    color: #ff9300;
  }
}

#task-list-item-menu-btn {
  .MuiMenuItem-root {
    padding: 12px 32px 12px 16px;
    .task-list-menu-item-wrapper {
      display: flex;
      align-items: center;
      .menu-item-label {
        padding-left: 8px;
      }
    }
  }
}
