.toolbar-wrapper {
  flex: 1;
  display: flex;
  height: $toolbarHight;
  background: linear-gradient(270deg, #0076ae 0%, #250056 100%);
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  a {
    text-decoration: none;
    display: flex;
  }

  .toolbar-title {
    color: $white;
    font-family: $proximaNova;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin-right: 8px;

    &:nth-of-type(2) {
      font-weight: bold;
    }
  }

  .ubuild-title {
    color: $white;
    font-family: $proximaNova;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin-right: 8px;
    margin-left: 8px;

    &:nth-of-type(2) {
      font-weight: bold;
    }
  }

  .ubuild-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.16);
    }
  }

  .ubuild-linkactive {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    background-color: rgba(255, 255, 255, 0.16);
  }

  .toolbar-navigation-wrapper {
    display: flex;
    height: $toolbarHight;
    margin-left: 108px;

    a {
      width: 105px;
      display: flex;
      color: $white;
      font-family: $proximaNova;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      text-decoration: none;

      &.is-selected {
        background-color: rgba(255, 255, 255, 0.16);
      }
    }
  }
  .toolbar-account-notification {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .toolbar-account-wrapper {
      display: flex;
      width: 57px;
      height: $toolbarHight;

      &:hover {
        background-color: rgba(255, 255, 255, 0.16);
      }

      .toolbar-account-search {
        height: 20px;
        width: 20px;
        padding: 18px;
      }

      .toolbar-account-notifications {
        height: 20px;
        width: 20px;
        padding: 18px;
      }

      .toolbar-account-info {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        cursor: pointer;

        &-title {
          color: $white;
          font-family: $proximaNova;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 24px;
        }

        &-icon {
          margin-left: 8px;
          height: 18px;
          width: 18px;
        }
      }

      .expanded {
        background-color: #593d7e;
      }
    }
  }
  .toolbar-account-spacer {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .toolbar-account-wrapper {
      display: flex;
      // width: 57px;
      height: $toolbarHight;

      &:hover {
        background-color: rgba(255, 255, 255, 0.16);
      }

      .toolbar-account-search {
        height: 20px;
        width: 20px;
        padding: 18px;
      }

      .toolbar-account-notifications {
        height: 20px;
        width: 20px;
        padding: 18px;
      }

      .toolbar-account-info {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        cursor: pointer;

        &-title {
          color: $white;
          font-family: $proximaNova;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 24px;
        }

        &-icon {
          margin-left: 8px;
          height: 18px;
          width: 18px;
        }
      }

      .expanded {
        background-color: #593d7e;
      }
    }
  }
}
.notification.expanded {
  background-color: #593d7e;
}
