.toolbar-wrapper {
  flex: 1;
  display: flex;
  height: 57px;
  background: linear-gradient(270deg, #0076AE 0%, #250056 100%);
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  .toolbar-title-one {
    color: $white;
    font-family: $proximaNova;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }

  .toolbar-title-two {
    color: $white;
    font-family: $proximaNova;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
  }

  .toolbar-navigation-wrapper {
    display: flex;
    width: 307px;
    height: 57px;
    margin-left: 108px;

    .toolbar-navigation-title {
      flex: 1;
      display: flex;
      color: $white;
      font-family: $proximaNova;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .proposals {
      background-color: rgba(255,255,255,0.16);
    }
  }

  .toolbar-profile-spacer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    background-color: red;

    .toolbar-profile-wrapper {
      display: flex;
      width: 307px;
      height: 57px;
      background-color: blue;
    }
  }
}