.toolbar-wrapper {
  flex: 1;
  display: flex;
  height: 56px;
  background: linear-gradient(270deg, #0076AE 0%, #250056 100%);
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  .toolbar-title-one {
    color: $white;
    font-family: $proximaNova;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }

  .toolbar-title-two {
    color: $white;
    font-family: $proximaNova;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
  }

  .toolbar-navigation-wrapper {
    display: flex;
    width: 307px;
    height: 56px;
    margin-left: 108px;

    .toolbar-navigation-title {
      flex: 1;
      display: flex;
      color: $white;
      font-family: $proximaNova;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .proposals {
      background-color: rgba(255,255,255,0.16);
    }
  }

  .toolbar-profile-spacer {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .toolbar-profile-wrapper {
      display: flex;
      width: 260px;
      height: 56px;
    
      .toolbar-profile-search {
        height: 20px;
        width: 20px;
        padding: 18px;
      }
    
      .toolbar-profile-notifications {
        height: 20px;
        width: 20px;
        padding: 18px;
      }

      .toolbar-profile-info {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &-title {
          color: $white;
          font-family: $proximaNova;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 24px;
        }

        &-icon {
          margin-left: 8px;
          height: 18px;
          width: 18px;
        }
      }

      .toolbar-profile-menu {
        position: absolute;
        top: 56px;
        right: 24px;
        height: 270px;
        width: 280px;
        box-sizing: border-box;
        border: $border;
        border-radius: 0 0 4px 4px;
        background-color: $white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08), 0 16px 24px 0 rgba(0,0,0,0.16);
        display: flex;
        flex-direction: column;
        padding: 16px;

        &-name {
          color: $black;
          font-family: $proximaNova;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0;
          line-height: 24px;
        }

        &-email {
          color: $neutral7;
          font-family: $proximaNova;
          font-size: 14px;
          letter-spacing: 0;
          line-height: 21px;
          margin-bottom: 16px;
        }

        &-separator {
          height: 1px;
          background-color: $neutral3;
          box-shadow: inset 0 -0.5px 0 0 $neutral4;
          margin-bottom: 8px;
        }
      }
    }
  }
}