.unity-tab-chip > p {
  height: max-content;
}

.chipview.unity-tab-chip {
  margin-top: 5px;
}

.unity-tab-action-item {
  display: flex;
}

.unity-tab-question-item .unity-tab-question {
  display: grid;
  // grid-template-columns: minmax(0, 1fr) 100px;
}

.unity-tab-question-item .system-icon-custom-tab {
  display: grid;
  grid-template-columns: 1fr 0px;
}
.unity-tab-question-item
  .system-icon-custom-tab
  > div
  > div
  > div:nth-child(2) {
  width: auto !important;
}

.unity-tab-question-item .question-label-inner .event-launcher__tooltip-btn {
  color: #017f16 !important;
  width: auto;
  height: auto;
  padding: 0;
}

.unity-tab-question-item .question-label-container .question-label-inner {
  display: flex;
}

.unity-tab-question-item .unity-tab-action-item .event-launcher {
  margin-top: -3px;
  padding-left: 5px;
}

.unity-tab-question-item .question-title-txt {
  color: #000000;
  font-size: 16px;
  font-family: Proxima Nova, Nunito Sans, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  padding-right: 4px;
  margin-right: 12px;
}
.unity-tab-question-item .unity-tab-question .question-label-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  width: 100%;
  transition: width 0.2s;
}

.unity-tab-question-item
  .question-label-container
  .question-label-inner
  .question-hint
  button {
  width: 20px;
  height: 20px;
  display: block;
  align-items: flex-start;
  padding: 0;
}

.unity-tab-question-item .question-hint {
  padding-left: 5px;
  padding-top: 1px;
}

.unity-tab-question-item {
  padding: 10px 8px !important;
}

.unity-customtab > div > div > div > svg {
  position: absolute;
  bottom: 3px;
  left: 5px;
}

.popover-custom-tab {
  .RichEditor-editor .public-DraftEditor-content {
    font-size: 14px !important;
    display: contents !important;
  }

  .public-DraftStyleDefault-block {
    margin-bottom: 0 !important;
  }
}

.question-label-container {
  .milestone-chip {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 6px;
    flex-basis: auto;
    flex-grow: 1;
    padding-left: 0.25rem;

    .tag {
      display: inline;
      .tag-box {
        display: inline-block !important;
        width: 16px;
        height: 16px;
      }
    }
  }
}
.approvals-tab .tasksList-add-icon-wrapper {
  display: flex;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #0557d5;
  box-shadow: 0 4px 8px 0 rgba(41, 125, 253, 0.16),
    0 4px 4px 0 rgba(0, 0, 0, 0.04), 0 8px 16px 0 rgba(41, 125, 253, 0.32);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.add-question {
  margin: 20px 0 0 !important;
}

.taskList-filter-icon-wrapper {
  min-width: 0;
  margin-right: 7px;
}
.unity-tab-question-item .question-title-txt .question-edit {
  cursor: pointer;
}
