.unity-tab-chip > p {
  height: max-content;
}

.chipview.unity-tab-chip {
  margin-top: 5px;
}

.unity-tab-action-item {
  display: flex;
}

.unity-tab-question {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.system-icon-custom-tab {
  display: grid;
  grid-template-columns: 1fr 0px;
}
.system-icon-custom-tab > div > div > div:nth-child(2) {
  width: auto !important;
}
