#welcomemodal{
    .MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-rounded > div > div {
        height: 90px;
    }
    .MuiDialog-paperWidthSm{
        max-width: 590px !important;
    }

    .MuiIconButton-root{
        display: none;
     }

    .role-modal{
        padding-top: 10px;
        display: inline-flex;
    }

    .MuiDialogActions-root.MuiDialogActions-spacing >div > button:nth-child(1) {
        display: none;
    }

    .role-modal p.para{
        font-family: $proximaNova;
        font-size: 16px;
        color: #747474;
    }
}