#welcomemodal {
  .MuiDialog-paperWidthSm {
    max-width: 460px !important;
    height: 480px;
  }

  .MuiStepper-root.MuiStepper-horizontal.MuiStepper-alternativeLabel {
    padding: 16px;
  }

  .MuiIconButton-root {
    display: none;
  }

  .role-modal {
    padding-top: 15px;
    display: inline-flex;
    padding-bottom: 15px;

    a {
      text-decoration: none;
    }
  }

  .MuiDialogActions-root.MuiDialogActions-spacing > div > button:nth-child(1) {
    display: none;
  }

  .role-modal p.para {
    font-family: $proximaNovaRegular;
    font-size: 16px;
    color: #747474;
  }

  .MuiInputBase-root {
    font-family: $proximaNova, Noto Sans, Helvetica, Arial, sans-serif;

    .MuiInputBase-input {
      border: 1px solid $neutral4;
      padding: 8px 8px 8px 7px;
      line-height: 1.5;
    }
  }

  .MuiFormControl-root.MuiFormControl-marginNormal.MuiFormControl-fullWidth.MuiTextField-root {
    margin-bottom: 20px;
  }
}
